
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed:wght@700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

.content .header {
    height: 450px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),url("../IMG/header1.png");
    background-position: bottom left;
    background-size: 1500px;
    /* opacity: 0.5; */
    font-family: 'Poppins';
}

.content .header .judul {
    padding: 30px 70px;
}

.content .header .judul h1 {
    font-weight: 1000;
    width: 600px;
    font-size: 60px;
    color: rgb(212, 212, 212);
    letter-spacing: 1.5px;
    line-height: 80px;
}

.content .header .judul h1 span {
    color: rgb(226, 218, 218);
}

.content .header .judul p {
    color: rgb(182, 182, 182);
    margin-top: 40px;
}